body{
    
    /* background: linear-gradient(to right,pink, violet); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    background-image: url(https://pbs.twimg.com/card_img/1578125703404433408/NY8_MUvz?format=jpg&name=4096x4096);
    color: white;
    
 }
 h4{
    margin-top: -2rem;
}
h1{
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-size: 4rem;
    margin-top: -13rem;
    
}
.container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    font-family:monospace;
   
  
}
.wish{
    font-weight: bold;
    font-size: 7rem;
    line-height: 1;
    margin: 0 2rem;/*topbottom rightleft*/

}
.countdown-container{
    text-align: center;
}
.countdown-container span{
    font-size: 1.5rem;
}
footer{
 position: absolute;
 margin-top: 1200px;
}
a{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: large;
}
a :hover{
    font-size: larger;
    color: aquamarine;
}